.wrapperRowLog {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #e8e8e8;
  margin: 5px 0;
  .title {
    text-transform: capitalize;
  }
}

.paginationContainer {
  margin: 15px 0 10px 0;
}
