@import "../modules/variable.scss";

//layout website
.siderMenu {
  background-color: #fff;
  .wrapperLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;
    .logo {
      height: 70px;
    }
  }
}

.site_layout {
  .header {
    padding: 0;
    background-color: #fff;
  }

  .content {
    margin: 0 25px;
  }

  .breadcumb {
    margin: 16px 0;
  }

  .contentchildren {
    background-color: #fff;
    padding: 24px;
    border-radius: 20px;
    height: 80vh;
    overflow: scroll;
    &::-webkit-scrollbar {
      opacity: 0;
      width: 5px;
    }
    &:hover {
      &::-webkit-scrollbar {
        opacity: 1;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #060a52;
        border-radius: 10px;
      }
    }
  }
}

// ---- BTN WEBSITE ---
.btnLogin {
  border-radius: $borderRadiusBtn;
  height: $heighBtn;
  width: 10vw;
  color: $color1stTLU;
  border: 1px solid $color1stTLU;
  &:hover {
    width: 24vw;
    background-color: $color1stTLU;
    color: whitesmoke !important;
    font-weight: bold;
    border: 1px solid transparent !important;
  }
}

.btn {
  border-radius: $borderRadiusBtn;
  height: $heighBtn;
  min-width: $minWidthBtn;
  &.primary {
    color: white;
    background-color: $color1stTLU;
    border: 1px solid transparent;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
      background-color: #ccc;
      &:hover {
        background-color: #ccc;
      }
    }
    &:hover {
      background-color: $color2stTLU;
      color: white;
      border: 1px solid transparent;
    }
  }

  &.cancel {
    color: $color1stTLU;
    border: 1px solid $color1stTLU;
    &.disabled {
      border: 1px solid #ccc;
      color: #ccc;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.wrapperPage {
  margin-bottom: 20px;
}

.rowContent {
  margin: 10px 0;
  width: 100%;
}

////------ RESPONSIVE ----------
@media screen and (max-width: 600px) {
  .btnLogin {
    width: 300px;
  }
}
