//layout website
.siderMenu {
  background-color: #fff;
  .wrapperLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;
    .logo {
      height: 70px;
    }
  }
}

.site_layout {
  .header {
    padding: 0;
    background-color: #fff;
  }

  .content {
    margin: 0 25px;
  }

  .breadcumb {
    margin: 16px 0;
  }

  .contentchildren {
    background-color: #fff;
    padding: 24px;
    border-radius: 20px;
    min-height: 80vh;
  }
}

// ---- BTN WEBSITE ---
.btnLogin {
  border-radius: 20px;
  height: 44px;
  width: 10vw;
  color: #060a52;
  border: 1px solid #060a52;
  &:hover {
    width: 24vw;
    background-color: #060a52;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid transparent;
  }
}

.btn {
  border-radius: 20px;
  height: 44px;
  &.changePass {
    width: 10vw;
    color: white;
    background-color: #060a52;
    border: 1px solid transparent;
    &:hover {
      width: 20vw;
      background-color: #a50e0e;
      border: 1px solid transparent;
    }
  }
  &.edit {
    color: white;
    background-color: #060a52;
    &:hover {
      border: 1px solid transparent;
      background-color: #a50e0e;
      color: white;
    }
  }
}
