//stringer
.ant-layout-sider-trigger {
  background: #060a52;
}

//menu antd
.ant-menu-item-selected {
  background-color: #060a52 !important;
  color: white !important;
  font-weight: bold;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #a50e0e;
}

//avatar dropdown
.avatar {
  .ant-dropdown-menu {
    border-radius: 20px !important;
  }

  .ant-dropdown-menu-item:hover {
    border-radius: 20px;
  }
}

//cropImage
.cropImg {
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #a50e0e;
  }
  .ant-slider-handle {
    border: 2px solid #a50e0e;
    &:focus {
      border-color: #a50e0e;
      box-shadow: none;
    }
  }

  .ant-slider-track {
    background-color: #060a52;
  }

  .ant-slider:hover .ant-slider-track {
    background-color: #060a52;
  }

  .ant-modal-footer {
    .ant-btn {
      border-radius: 20px;
      min-width: 120px;
      height: 35px;
    }
    .ant-btn-default {
      &:hover {
        color: #060a52;
        border: 1px solid #060a52;
      }
    }
    .ant-btn-primary {
      background-color: #060a52;
      border: 1px solid transparent;
      &:hover {
        background-color: #a50e0e;
      }
    }
  }
}

// select class
.selectRegister {
  .ant-select-selector {
    border-radius: 20px !important;
    padding: 2px 15px !important;
    height: 35px !important;
  }

  .ant-picker {
    border-radius: 20px !important;
    height: 35px !important;
  }
}

//popconfirm
.ant-popover-buttons {
  .ant-btn {
    border-radius: 20px;
    min-width: 60px;
  }

  .ant-btn-default {
    color: #060a52;
    border: 1px solid #060a52;
  }

  .ant-btn-primary {
    background-color: #060a52;
    border: 1px solid transparent;
  }
}
