.wrapperTop {
  padding: 0 25px;
  box-shadow: 10px 10px 10px #ccc;
}

.flagIcon {
  height: 20px;
}

.textNameUser {
  text-transform: capitalize !important;
  font-weight: bold;
  margin-left: 5px;
}

//resposive
.headerMobile {
  padding: 0 15px;
}
