.wrapperImg {
  text-align: center;
  margin-bottom: 20px;
}

.img_edit {
  height: 100px;
  border-radius: 50% 50%;
  cursor: pointer;
}

.form_input {
  border-radius: 20px;
  height: 44px;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
