@import "../../../assets/scss/modules/variable.scss";

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputPass {
  border-radius: 20px !important;
  height: 35px;
}
