@import "../../../assets/scss/modules/variable.scss";

.btnGroup {
  justify-content: center;
}

.btnChangePass {
  &:hover,
  &:focus {
    background-color: $color2stTLU;
  }
}

.inputPass {
  border-radius: 20px !important;
  height: 35px;
}
