.addDevice_form {
  padding: 20px;
}

.formRow {
  display: flex;
  justify-content: space-between;
}

.formInput {
  height: 35px;
  border-radius: 20px !important;
  padding: 0 15px !important;
  width: 100%;
}

.titlePage {
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .titlePage {
    text-align: left;
    font-size: 25px;
  }
}
