@import "../../assets/scss/modules/variable.scss";

.avatar {
  box-shadow: 2px 20px 20px#666;
}

.textName {
  font-size: 30px;
  font-weight: bold;
}

.description {
  margin: 10px 0;
}

.btnEdit {
}
