.avatar {
  box-shadow: 2px 20px 20px#666;
}

.textName {
  font-size: 30px;
  font-weight: bold;
}

.description {
  margin: 10px 0;
}

.btnEdit {
  color: whitesmoke !important;
  background-color: #060a52 !important;
  &:hover {
    border: 1px solid transparent;
    background-color: rgb(212, 14, 14);
    color: white !important;
  }
  &:active {
    border: 1px solid transparent;
    background-color: rgb(212, 14, 14);
    color: white !important;
  }
}
