.wrapperBG {
  background: url("../../assets/images/img/bg_register_user.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 20px 0;
}

.titleHeaderPage {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.wrapperForm {
  width: 500px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 15px;
  background: whitesmoke;
  box-shadow: 20px 20px 10px #333;
}

.wrapperRowLink {
  margin-top: 15px;
  .textLink {
    color: #060a52;
    &:hover {
      color: #03052b;
      opacity: 0.9;
    }
  }
}
